<main class="main">

    <div id="statusModal" class="modal">
        <div class="modal-content">
            <form class="mb-4" (ngSubmit)="onSubmit()">
                <h1>Status Manager:</h1>
                <h2>Register and edit project status to the columns.</h2>

                <label for="title">Title:</label>
                <input type="text" id="title" name="title" [(ngModel)]="status.title" required
                    (keydown.enter)="$event.preventDefault(); description.focus()" placeholder="Enter title">

                <label for="description">Description:</label>
                <textarea id="description" name="description" [(ngModel)]="status.description" #description
                    placeholder="Enter description"></textarea>

                <label for="color">Cards Color:</label>
                <input type="color" id="color" name="color" [(ngModel)]="status.color" title="Select cards color.">

                <div class="button w-button">
                    <button type="submit">
                        <i class="bi bi-save"></i> Save
                    </button>
                    <button type="button" (click)="onCancel()">
                        <i class="bi bi-x-circle"></i> Cancel
                    </button>

                </div>
            </form>
        </div>
    </div>
</main>