.modal {
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: #51328a;
    box-sizing: border-box;
}

h1 {
    color: white;
    font-size: 20px;
    margin-left: 30px;
    margin-bottom: 0;
}

h2 {
    color: white;
    font-size: 14px;
    font-style: italic;
    margin-left: 30px;
    margin-top: -23px;
    margin-left: 30px;
}

.mb-4 {
    background-color: #51328a;
    width: 100%;
    height: 110%;
}

label {
    color: white;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

input[type="text"],
textarea {
    width: 70%;
    max-width: 300px;
    border: 1px solid #888888;
    border-radius: 5px;
    padding: 10px;
    color: #333333;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    display: block;
    margin: 10px auto;
    font-size: 16px;
    font-family: 'Century Gothic Pro', sans-serif;
}

input[type="text"]:focus,
textarea:focus {
    box-shadow: 0 2px 4px rgba(81, 50, 138, 0.3);
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 18px;
    }

    input[type="text"],
    textarea {
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 16px;
    }

    input[type="text"],
    textarea {
        font-size: 12px;
    }
}

input[type="color"] {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
    padding: 0;
    margin: 10px auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    appearance: none;
    background-color: #888888;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border-radius: 50%;
    padding: 0;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.button button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

.button button[type="submit"] {
    background-color: var(--primary);
}

.button button[type="button"] {
    background-color: var(--primary);
}

.button button:hover {
    color: #e82c88;
}