<button class="toggle-menu" (click)="toggleMenu()" [ngClass]="{'open-button': isMenuOpen, 'close-button': !isMenuOpen}">
  {{ isMenuOpen ? '←' : '→' }}
</button>

<aside class="sidebar" [class.open]="isMenuOpen">
  <h2>Menu</h2>
  <ul>
    <li>
      <a (click)="openModalStatus($event)">
        <i class="bi bi-columns"></i> Status
      </a>
      <a (click)="openModalTeam($event)">
        <i class="bi bi-people"></i> Team
      </a>
      <a [routerLink]="['/dashboard']" >
        <i class="bi bi-speedometer2"></i> Dashboard
      </a>
    </li>
  </ul>
</aside>

<main class="content" [ngClass]="{'empty': statuses.length === 0 && tasks.length === 0}">
  <div *ngIf="statuses.length === 0 && tasks.length === 0" class="empty-background">
    <img src="assets/background/cactus.png" alt="Cactus">
  </div>
  
<!-- Search Field -->
<div *ngIf="statuses.length > 0" class="task-search-container">
  <input type="text" placeholder="Locate tasks..." [(ngModel)]="searchTerm" (input)="onSearch()" />

  <div class="search-results" *ngIf="filteredTasks.length > 0">

    <ul>
      <li *ngFor="let task of filteredTasks" (click)="openTaskItem(task.id)">
        {{ task.title }}
      </li>
    </ul>
  </div>
</div>


  <!-- Status Container-->
  <div cdkDropList (cdkDropListDropped)="onDropStatus($event)" [cdkDropListData]="statuses" class="status-container"
    cdkDropListOrientation="horizontal" [cdkDropListConnectedTo]="statusIds">

    <section *ngFor="let status of statuses" class="status" cdkDrag cdkDropList
    [cdkDropListConnectedTo]="statusIds"
      [cdkDropListData]="getTasksByStatus(status.title)" [class.dragging]="draggingStatusId === status.id"
      (cdkDropListDropped)="onDropTask($event, status)" [ngClass]="{'dragging': draggingStatusId === status.id}"
      [ngClass]="{'dragging': draggingStatusId === status.id}"
      (cdkDragStarted)="draggingStatusId = status.id" (cdkDragEnded)="draggingStatusId = null">

      <header class="status-header">
        <div class="dropdown">
          <i class="bi bi-three-dots" (click)="toggleStatusMenu(status.id)"></i>
          <div *ngIf="activeStatusMenu === status.id" class="dropdown-menu">
            <a class="dropdown-item bi bi-pencil" (click)="editStatus(status)"> Edit</a>
            <a class="dropdown-item bi bi-trash" (click)="deleteStatus(status)"> Delete</a>
          </div>
        </div>
        <h2 (mouseover)="showDescription(status.description)" (mouseleave)="hideDescription()">
          {{ status.title }}
        </h2>
        <div *ngIf="hoveredDescription === status.description" class="tooltip">
          {{ status.description }}
        </div>
        <input class="newTask" type="text" placeholder="Add new action" [(ngModel)]="newTaskTitles[status.title]"
          (keyup.enter)="addTask(newTaskTitles[status.title], status)">
      </header>
      <ul>
        <li class="card" *ngFor="let task of getTasksByStatus(status.title)"
          [ngStyle]="{'border-left': '8px solid ' + status.color}" cdkDrag [cdkDragData]="task">
          <div class="card-content">
            {{ task.title }}
          </div>
          <div class="task-buttons">
            <button class="edit-task-button" (click)="openModalTaskItem($event, task.id)" title="Edit this task.">
              <i class="bi bi-pencil"></i>
            </button>
            <button class="delete-task-button" (click)="deleteTask(task)">
              <i class="bi bi-trash"></i>
            </button>
          </div>
          <div class="card-owner-container">
            <i class="card-owner bi bi-person"></i>
            <span class="card-owner-name">{{ getTeamMemberName(task) }}</span>
          </div>
          <div class="card-situation-container">
            <i class="card-situation bi bi-check-circle"></i>
            <span class="card-situation-status">{{ task.situation }}</span>
          </div>
        </li>
      </ul>
    </section>

  </div>
</main>

<footer class="footer">
  <a>INEO Task Management System</a>
  <div class="sub-footer">
    <a>Developed by: <a href="https://github.com/fabio-daros">Fabio Daros</a></a>
  </div>
</footer>